
/*Les Chose Pour le Page*/
body{
    font-family:  arial;

}*{
    margin: 0;
    padding: 0;
}
header,footer{
    height: auto;
    position: absolute;
    background-color: #47d8a8;
    width: 100%;
    color: white;
}
header{
    height: 10vh;
    }
header h2{
    position: absolute;
    margin-top: 20px;
    left: 30%;
}
main h2.Indextext2{
    position: absolute;
    margin-top: 80px;
    left: 4%;
}
main h1.Indextext1{  
    position: absolute;
    margin-top: 106px;
    left: 4%;

}
main h2.Jouertext1{
    position: absolute;
    margin-top: 100px;
    left: 4%;
}
main h3.Jouertext2{
    position: absolute;
    margin-top: 156px;
    left: 4%;
}
main h4.Jouertext3{
    position: absolute;
    margin-top: 233px;
    left: 4%;
}
main h5.Jouertext4{
    position: absolute;
    margin-top: 265px;
    left: 4%;
}
footer{
 height: 7vh;
 bottom: 0;
}
footer p{
    position: absolute;
    margin-top: 20px;
    left: 4%;
}
/*menu*/
main iframe.boutique{
    position: absolute;
    margin-top: 79px;
    left: 10%;
}
/*Responsive*/
@media screen and (max-width: 900px) {
    header{
        width: 90%;
            }
            header h2{
                position: absolute;
                margin-top: 20px;
                left: 20%;
                    }
    main{
width: 90%;
    }
    footer{
            height: 11vh;
    }
    header{
        height: 14vh;
        }
header,footer{
    position: absolute;
color: white;
width: 100%;
    }
}
/*menu de Navigation*/
main iframe.DiscordMenu{
    position: absolute;
    margin-top: 90px;
    left: 79%;

}
header div.menu{
    position: absolute;
    margin-top: 26px;
    left: 40%;
}
header div.menu a{
    text-decoration: none;
    color: white;
    height: auto;
    width: 100%;
}
/*menu Navigation Animation*/
header div.menu a:hover{
    transition: 0.3s;
}
